.idea/
*.iml
.gradle
.kotlin
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
*.log
*_log.txt
*_report.txt
lint_*.txt
.firebase/
dist/
web/dist/
mobile/build/
mobile/.dart_tool/


